@import "assets/sass/_variables.scss";

@keyframes scroll-reveal {
  from {
    background-size: 0 100%;
  }
  to {
    background-size: 100% 100%;
  }
}

@media screen and (max-width: 375px) {
  .scroll-reveal {
    display: block !important;

    & h2 {
      font-size: 2.5rem !important;
      text-wrap: nowrap;
    }

    & p {
      font-size: 1.25rem !important;
      margin-inline: auto;
      margin-bottom: 2rem;
    }
  }
}

.scroll-reveal {
  display: flex;
  align-items: center;
  text-align: center;

  & * {
    margin: 0;
  }

  & + div {
    margin: 100px;
  }

  & * > span {
    color: hsl(0 0% 100% / 0.2);

    background-clip: text;
    background-repeat: no-repeat;
    background-image: linear-gradient(90deg, var(--theme-primary), var(--theme-secondary));

    animation: scroll-reveal linear forwards 2s;
  }

  & h2 {
    font-size: 5rem;
  }

  & p {
    font-size: 1.75rem;
    max-width: 55ch;
    margin-inline: auto;
    margin-bottom: 2rem;
  }

  & img {
    width: 100%;
    height: 100%;
    max-height: 450px;
    max-width: 450px;
    min-height: 260px;
    min-width: 260px;
  }

}

.center {
  text-align: center;
}
