<section class="scroll-reveal">
  <div>
    <h2><span>Meet Palma</span></h2>
    <p>
          <span>
            Our new Mobile ePaper device combines cutting-edge performance with
            an E Ink display and a phone-sized design, allowing you to
            effortlessly slip it into your pocket and carry it on the go.
          </span>
    </p>
  </div>
  <div>
    <img src="assets/images/illustration.svg" alt="illustration-pic" height="1000" width="1000"/>
  </div>
</section>
<div class="center">
  <app-button><span labelText>READ MORE</span></app-button>
</div>

