@import "assets/sass/_variables.scss";

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--theme-header-bg);
  height: $--header-height;
  padding: $--header-pd;
}

ul {
  display: flex;
  justify-content: space-between;
  gap: 12px;

  & > li {
    list-style: none;
    display: flex;
    align-items: center;

    &:hover {
      background: var(--theme-background);
    }

    &:last-child:hover {
      background: transparent;
    }
  }
}
