<div class="wrapper">
  <div>
    Logo
  </div>
  <ul>
    <li>About</li>
    <li>Skills</li>
    <li>Projects</li>
    <li>Setting account</li>
    <li>
      <app-toggle-theme></app-toggle-theme>
    </li>
  </ul>
</div>
