<section class="loader">

  <div class="slider" style="--i:4">
  </div>
  <div class="slider" style="--i:3">
  </div>
  <div class="slider" style="--i:2">
  </div>
  <div class="slider" style="--i:1">
  </div>
  <div class="slider" style="--i:0">
  </div>
</section>


