@import "assets/sass/_variables.scss";


@media screen and (max-width: 375px) {
  .button {
    font-size: 0.75rem !important;
    padding-left: 18px !important;
    padding-right: 18px !important;
  }
}

.button {
  align-items: center;
  appearance: none;
  background-color: var(--theme-background);
  border-radius: $--border-radius;
  border-color: var(--theme-primary);
  box-shadow: rgba(83, 109, 254, 0.2) 0 2px 4px, rgba(83, 109, 254, 0.15) 0 7px 13px -3px, var(--theme-background) 0 -3px 0 inset;
  box-sizing: border-box;
  color: var(--theme-text-color);
  cursor: pointer;
  display: inline-flex;
  height: 56px;
  justify-content: center;
  list-style: none;
  overflow: hidden;
  padding-left: 24px;
  padding-right: 24px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 1rem;

  &:focus {
    outline: none;
    box-shadow: var(--theme-background) 0 0 0 1.5px inset, rgba(83, 109, 254, 0.4) 0 2px 4px, rgba(83, 109, 254, 0.3) 0 7px 13px -3px, var(--theme-background) 0 -3px 0 inset;
  }

  &:hover {
    box-shadow: rgba(83, 109, 254, 0.3) 0 4px 8px, rgba(83, 109, 254, 0.2) 0 7px 13px -3px, var(--theme-background) 0 -3px 0 inset;
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: var(--theme-background) 0 3px 7px inset;
    transform: translateY(2px);
  }
}
