<app-header></app-header>
<div>
  <div class="card">
    <app-about-me></app-about-me>
  </div>
  <div class="card">
    <app-skills></app-skills>
  </div>
  <div class="card">Projects</div>
  <div class="card">Setting Accounts</div>
</div>
<app-footer></app-footer>
