@media screen and (max-width: 768px) {
  .wrapper {
    grid-template-columns: repeat(2, 1fr) !important;
    gap: 40px !important;
    margin-bottom: 0 !important;

  }
  .title-skill {
    font-size: 2.5rem !important;
  }

}

.title-skill {
  font-size: 4rem;
  max-width: 55ch;
  margin-inline: auto;
  margin-bottom: 2rem;

  color: hsl(0 0% 100% / 0.2);

  background-clip: text;
  background-repeat: no-repeat;
  background-image: linear-gradient(90deg, var(--theme-primary), var(--theme-secondary));
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 80px;
  margin-bottom: 10rem;

  & .item-skill {
    padding: 20px;
    border: 1px solid black;
    border-radius: 6px;
    list-style: none;

    &:hover {
      box-shadow: rgba(83, 109, 254, 0.3) 0 4px 8px, rgba(83, 109, 254, 0.2) 0 7px 13px -3px, var(--theme-background) 0 -3px 0 inset;
      transform: translateY(-2px);

    }

    &:focus {
      outline: none;
      box-shadow: var(--theme-background) 0 0 0 1.5px inset, rgba(83, 109, 254, 0.4) 0 2px 4px, rgba(83, 109, 254, 0.3) 0 7px 13px -3px, var(--theme-background) 0 -3px 0 inset;
    }

    &:active {
      box-shadow: var(--theme-background) 0 3px 7px inset;
      transform: translateY(2px);
    }
  }


}
