<p class="title-skill">Professional skills</p>
<ul class="wrapper">
  <li class="item-skill">
    <img src="assets/icons/angular-icon.svg">
  </li>
  <li class="item-skill">
    <img src="assets/icons/react-icon.svg">
  </li>
  <li class="item-skill">
    <img src="assets/icons/html-icon.svg">
  </li>
  <li class="item-skill">
    <img src="assets/icons/css-icon.svg">
  </li>
  <li class="item-skill">
    <img src="assets/icons/javascript-icon.svg">
  </li>
  <li class="item-skill">
    <img src="assets/icons/typescript-icon.svg">
  </li>
  <li class="item-skill">
    <img src="assets/icons/docker-icon.svg">
  </li>
  <li class="item-skill">
    <img src="assets/icons/golang-icon.svg">
  </li>
  <li class="item-skill">
    <img src="assets/icons/nodejs-icon.svg">
  </li>
</ul>
