//
// Variables
//
// You can override the default values by setting the variables in your Sass
// before importing the normalize-scss library.

// The font size set on the root html element.
$base-font-size: 16px !default;

// The base line height determines the basic unit of vertical rhythm.
$base-line-height: 24px !default;

// The length unit in which to output vertical rhythm values.
// Supported values: px, em, rem.
$base-unit: 'em' !default;

// The default font family.
$base-font-family: null !default;

// The font sizes for h1-h6.
$h1-font-size: 2    * $base-font-size !default;
$h2-font-size: 1.5  * $base-font-size !default;
$h3-font-size: 1.17 * $base-font-size !default;
$h4-font-size: 1    * $base-font-size !default;
$h5-font-size: 0.83 * $base-font-size !default;
$h6-font-size: 0.67 * $base-font-size !default;

// The amount lists and blockquotes are indented.
$indent-amount: 40px !default;

// The following variable controls whether normalize-scss will output
// font-sizes, line-heights and block-level top/bottom margins that form a basic
// vertical rhythm on the page, which differs from the original Normalize.css.
// However, changing any of the variables above will cause
// $normalize-vertical-rhythm to be automatically set to true. To prevent
// outputting any vertical rhythm rules, set this variable to false.
$normalize-vertical-rhythm: null !default;


//Global css
$--header-height: 50px;
$--header-pd: 8px;
$--border-radius: 6px;

//Theme
$--theme-primary: --theme-primary;
$--theme-secondary: --theme-secondary;
$--theme-background: --theme-background;
$--theme-text-color: --theme-text-color;
$--theme-header-bg: --theme-header-bg;
$--theme-error: --theme-error;

$theme-map-light: (
  $--theme-primary: #d75894,
  $--theme-secondary: #9b3dca,
  $--theme-background: #fafafa,
  $--theme-text-color: #222222,
  $--theme-header-bg: #222222,
  $--theme-error: #bf0000,
);

$theme-map-dark: (
  $--theme-primary: #f34c83,
  $--theme-secondary: #c298dc,
  $--theme-background: #1b1918,
  $--theme-text-color: #ffffff,
  $--theme-header-bg: #ffffff,
  $--theme-error: #bf0000,
);
